<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application >
        <meta-data
            android:name="com.magata.misdk.appid"
            android:value="appid=#[appId]">
        </meta-data>

        <meta-data
            android:name="com.magata.misdk.appkey"
            android:value="appkey=#[appKey]">
        </meta-data>
    </application>
</manifest>