<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magata.misdk">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.xiaomi.sdk.permission.PAYMENT" />
    <uses-permission android:name="com.xiaomi.permission.AUTH_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>

        <!-- Xiaomi SDK Need -->
        <meta-data
            android:name="MiLinkGroupAppID"
            android:value="@integer/MiLinkGroupAppID" />

        <activity
            android:name="com.xiaomi.gamecenter.sdk.ui.MiActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name="com.xiaomi.gamecenter.sdk.ui.PayListActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.xiaomi.hy.dj.HyDjActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" /> <!--不⽀持${applicationId}的请替换为包名-->
        <service
            android:name="com.xiaomi.gamecenter.push.GamePushService"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.MI_GAME_PUSH" />
            </intent-filter>
        </service>
        <receiver
            android:name="com.xiaomi.gamecenter.push.OnClickReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.hy.push.client.ONCLICK" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sdk_file_paths" />
        </provider>

        <activity
            android:name="com.xiaomi.gamecenter.sdk.ui.fault.ViewFaultNoticeActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.xiaomi.gamecenter.sdk.ui.notice.NoticeActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <!-- Xiaomi SDK Need End-->
    </application>
</manifest>
