<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application >
    <!-- 添加360SDK必需的activity：com.qihoo.gamecenter.sdk.activity.QhDeepLinkActivity -->
    <activity
        android:name="com.qihoo.gamecenter.sdk.activity.QhDeepLinkActivity" >
      <intent-filter >
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- host值必须为游戏的appkey -->
        <data android:host="fc5118cdd75c8627ef9d5f8ac7220191"
            android:pathPrefix="/opengames"
            android:scheme="qihoosdkgame"/>
      </intent-filter>
    </activity>

    <!-- 添加360SDK必需的meta-data：QHOPENSDK_APPID。此处value为APPID。请在360应用开放平台注册申请-->
    <meta-data
        android:name="QHOPENSDK_APPID"
        android:value="204292621">
    </meta-data>

    <!--添加360SDK必需的meta-data：QHOPENSDK_APPKEY。此处value为APPKEY。请在360应用开放平台注册申请-->
    <meta-data
        android:name="QHOPENSDK_APPKEY"
        android:value="fc5118cdd75c8627ef9d5f8ac7220191" >
    </meta-data>

    <!--必需的meta-data：QHOPENSDK_PRIVATEKEY。此处value为PRIVATEKEY不是APPSECRET，而是md5(app_secret +”#”+ app_key)，全小写，APPSECRET不允许保存在客户端！详见1.4 PrivateKey计算方法-->
    <meta-data
        android:name="QHOPENSDK_PRIVATEKEY"
        android:value="8e5a11d2c24644bdad4e92ef386ccef4" >
    </meta-data>
  </application>
</manifest>